.app-nav-links {
    overflow-x: auto;
    scrollbar-width: none;
}

.app-nav-links::-webkit-scrollbar {
    display: none;
}

@media (min-width: 992px) {
    .app-nav-links {
        overflow: visible;
    }
}
